.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}
/* Salsabeel: Added space in top navbar to some links to the right */
.space {
  flex:1 1 auto;
}

/* Salsabeel:Styling top navbar */
mat-toolbar a{
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: white;
}