<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#"><i class="material-icons"> event </i>     Calendar</a>
      <a mat-list-item href="#"><i class="material-icons">assessment</i>     Survey</a>
      <a mat-list-item routerLink="/timeline" routerLinkActive="active"><i class="material-icons">timeline </i>     Timeline</a>
      <a mat-list-item href="#"><i class="material-icons">book</i>     Modules</a>
      <a mat-list-item href="#"><i class="material-icons">note_add</i>     Note to Self</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span> My Transition Explorer</span>
      <span class="spacer"></span>
      <a href="#"><i class="material-icons">account_circle </i></a>
      <a href="#"><i class="material-icons">alarm_on</i></a>
      <a href="#"><i class="material-icons"> lock</i></a>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
